@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Erro.</h1>
<h2 class="text-danger">Entre em contato com o administrador do sistema.</h2>
<p>
    <strong>Banco de dados inexistente.</strong> Gerar migrações necessárias para a execução do sistema.
</p>
