@model Cliente

@{
    ViewData["Title"] = "Cadastrar Cliente";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Cliente">
            <h3 class="ps-2 text-secondary">@ViewData["Title"]</h3>
            <div asp-validation-summary="ModelOnly"></div>

            <div class="form-group">
                <label asp-for="nmCliente" class="col-form-label"></label>
                <input asp-for="nmCliente" type="text" class="form-control" />
                <span asp-validation-for="nmCliente" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Cidade" class="col-form-label"></label>
                <input asp-for="Cidade" type="text" class="form-control" />
                <span asp-validation-for="Cidade" class="text-danger"></span>
            </div>

            <div class="btn-group-sm pt-1">
                <input type="submit" value="Salvar" class="btn btn-success btn-sm" />
                <a asp-action="Index" class="btn btn-danger btn-sm">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}