@model Produto

@{
    ViewData["Title"] = "Editar produto";
}

<div class="col-md-4">
    <form asp-action="Edit" asp-controller="Produto">
        <h3 class="">@ViewData["Title"]</h3>
        <div asp-validation-summary="ModelOnly"></div>

        <input type="hidden" asp-for="idProduto" />

        <div class="form-group">
            <label asp-for="dscProduto" class="col-form-label"></label>
            <input asp-for="dscProduto" type="text" class="form-control" />
            <span asp-validation-for="dscProduto" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="vlrUnitario" class="col-form-label"></label>
            <input asp-for="vlrUnitario" type="text" class="form-control" />
            <span asp-validation-for="vlrUnitario" class="text-danger"></span>
        </div>

        <div class="btn-group-sm">
            <input type="submit" value="Salvar" class="btn btn-success btn-sm" />
            <a asp-action="Index" class="btn btn-danger btn-sm">Canelar</a>
        </div>
    </form>
</div>

@section scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}